<form id="dynamodbapi" method="post" class="" action="/api/dynamodbput">
<fieldset disabled>
<div class="form-group row">
  <label for="example-number-input" class="col-2 col-form-label">Package ID:</label>
  <div class="col-6">
    <input class="form-control disabled" type="number" value="<%= Number(json.packageid) %>" id="packageid" name="packageid">
  </div>
</div>
<div class="form-group row">
  <label for="example-number-input" class="col-2 col-form-label">Time Stamp:</label>
  <div class="col-6">
    <input class="form-control disabled" type="number" value="<%= timestp %>" id="" name="">
  </div>
</div>
<div class="form-group row">
  <label for="example-number-input" class="col-2 col-form-label">Last Scan:</label>
  <div class="col-6">
    <input class="form-control disabled" type="text" value="<%= lastscan %>" id="" name="">
  </div>
</div>
<div class="form-group row">
  <label for="example-number-input" class="col-2 col-form-label">User ID:</label>
  <div class="col-6">
    <input class="form-control" type="number" value="<%= json.userid %>" id="userid" name="userid">
  </div>
</div>
<div class="form-group row">
  <label for="example-number-input" class="col-2 col-form-label">Temperature:</label>
  <div class="col-6">
    <input class="form-control" type="number" value="<%= json.temperature %>" id="temperature" name="temperature">
  </div>
</div>
<div class="form-group row">
  <label for="example-number-input" class="col-2 col-form-label">Humidity:</label>
  <div class="col-6">
    <input class="form-control" type="number" value="<%= json.humidity %>" id="humidity" name="humidity">
  </div>
</div>
<div class="form-group row">
  <label for="example-text-input" class="col-2 col-form-label">Location:</label>
  <div class="col-6">
    <input class="form-control" type="text" value="<%= json.currlocation %>" id="currlocation" name="currlocation">
  </div>
  </fieldset>
    <div class="col-2 offset-6">
    <a class="btn btn-primary" href="<%= backurl %>" role="button">  Update another  </a>
  </div>
</form>