        <h3><%=contentTitle%></h3>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Package</th>
                  <th>Time</th>
                  <th>Location</th>
                </tr>
              </thead>
              <tbody>
                <% json.items.forEach(function(item){ %>
                <tr>
                  <td><a href='/api/dynamodbquery/<%= JSON.parse(item.timestp) %>?packageid=<%=  JSON.parse(Number(item.packageId)) %>'><%= item.packageId %></a></td>
                  <td><%= new Date(item.timestp) %></td>
                  <td><%= item.currLocation %><%= item.GPS %></td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>


