        <h3><%=contentTitle%></h3>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Package</th>
                  <th>Temperature</th>
                  <th>Humidity</th>
                  <th>Location</th>
                  <th>Time Stamp</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= jsonpackage %></td>
                  <td><%= jsontemp %></td>
                  <td><%= jsonhumid %></td>
                  <td><%= jsonlocation %></td>
                  <td><%= jsontimestp %></td>
                </tr>
              </tbody>
            </table>
          </div>